// ==========================================================================
// Breakpoints
// ==========================================================================


$tiny:                       480px;
$xsmall:                     640px;
$small:                      768px;
$medium:                     960px;
$regular:                    1024px;
$large:                      1280px;
$xlarge:                     1440px;
$xxlarge:                    1550px;
$huge:                       1650px;





// ==========================================================================
// Colors
// ==========================================================================

$black:                      $md-grey-900;
$white:                      #fff;
$red:                        $md-red-500;
$error-color:                $red;
$accent:                     $md-blue-500;
$done:                       $md-teal-500;
$input-border-color:         $md-grey-300;
$todo-bg:                    $md-grey-50;


// ==========================================================================
// Fonts
// ==========================================================================

$default-font-family:        'lato', sans-serif;
$title-font-family:          $default-font-family;
$serif-font-family:          serif;
$monospace-font-family:      monospace;
$fontSmooth:                 true;


$default-font-color:         $md-grey-600;
$anchor-text-color:          $md-blue-a700;
$anchor-text-hover-color:    darken($anchor-text-color, 10);
$anchor-text-decoration:     none;


$default-font-size:          16px;
$default-line-height:        1.2;
$default-font-weight:        300;
$small-font-siz:             75%;

$nav-list-style:             none;







// ==========================================================================
// Animations
// ==========================================================================

$base-transition:            all .3s ease-out;
